.formacao {
    background: #EAF2FD;
    padding: 1rem 0;
}

.formacao-cards {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 1rem;
}

@media screen and (min-width:704px) {
    .formacao-cards {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    } 
}