@import "./abstract/_reset.css";
@import "./abstract/_variaveis.css";

@import "./components/cabecalho.css";
@import "./components/icones.css";
@import "./components/cabecalho-menu.css";
@import "./components/cabecalho-links.css";

body {
    min-width: 100vw;
    max-width: 365px;
    height: 100%;
    max-height: 4475px;
    margin: 0 auto;
}

.conatiner {
    margin: 0 auto;
    width: 90%;
}

@media screen and (min-width:704px) {
    body {
        max-width: 768px;
        max-height: 4379px;
    }  
}

@media screen and (min-width:1024px) {
    body { 
        max-width: 1440px;
        max-height: 5020px;
    }
}

